
<h1>Maps</h1>

{{!-- create an empty div for the map to be rendered --}}
<div id="mapid"></div>


<script>
    // parse the variable that you set in your routes
    // to access any variable passed from handlebars we need to use the quotes and three curly opening/closing brackets
    // "{{{ VARIABLE }}}"

    let ourDataDromRoutes = {{{loc}}}
    var map = L.map('mapid').setView(ourDataDromRoutes, 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([51.5, -0.09]).addTo(map)
        .bindPopup('This is my pop up<br> Easily customizable.')
</script>